/* Estilo para o cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 20px;
}

body {
    background-color: #e9e9e9;
    padding: 80px;
}

.sidebar {
    margin: 0;
    margin-left: 0;
     background-color: black;
     width: 280px;
    
 }
 .sidebar * {
     color: white;
 }

 .input-group {
      display: flex;
      align-items: center;
  }

  .input-group input {
      margin-right: 10px; /* Adicione a margem desejada entre o input e o botão */
  }
  .input-group {
      display: flex;
      align-items: center;
  }
    .container1 {
        display: flex;
        flex-wrap: nowrap
    }

  .card{
      --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 0.375rem;
    --bs-card-inner-border-radius: calc(0.375rem - 1px);
    --bs-card-cap-padding-y: 0.5rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: rgba(0, 0, 0, 0.03);
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
      margin-left: 20px;
      margin-bottom: 20px;
  }
.collapse{
margin-left:20px;
}
 .link-item {
    margin-right: 20px; /* Ajuste o valor conforme necessário */
  }


  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0;
    z-index: 10;
}



