body {
    background-color: rgb(190, 212, 255);
    min-height: 100vh;
    background-image: url(img/backgroundcadastrocarro.jpg);
    background-position: cover;
    background-size: cover;
}

.container {

    justify-content: space-between;
    margin-top: 100px;
    margin: 100px;
    border-style: double;
    padding: 10px;
    border-color: hwb(60 22% 24%);
}


.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: white;
}


.form-column {
    flex: 1;
    margin-right: 10px;
    color: white;
}

label {
    display: block;
    font-weight: bold;
    color: white;
}

header {
    margin-bottom: 50px;
}

input,
select {
    display: block;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

h1 {
    color: white;
    text-align: center;
}

