body {
    background-color: rgb(190, 212, 255);
    min-height: 100vh;
    background-image: url(img/Mustang.jpg);
    background-position: cover;
    background-size: cover;
}

form {
    flex: 1;
    margin-right: 10px;
    color: white;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.container {
    justify-content: space-between;
    margin-top: 100px;
    margin: 100px;
    border-style: double;
    padding: 10px;
    border-color: white;
}

button {
 
    
    margin-top: 27px;
    padding: 10px;
    color: white;
    background-color: green;
    border-radius: 8px;
    width: 100%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: white;
    
}

.form-column {
    flex: 1;
    margin-right: 10px;
    color: white;
}

select {
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

h1{
    text-align: center;  
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0;
    z-index: 10;
}

