body {
    background-color: rgb(190, 212, 255);
    min-height: 100vh;
    background-image: url(img/Mustang.jpg);
    background-position: cover;
    background-size: cover;
}

form {
    flex: 1;
    margin-right: 10px;
    color: white;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}

.container {
    justify-content: space-between;
    margin-top: 100px;
    margin: 100px;
    border-style: double;
    padding: 10px;
    border-color: white;
}
button{
      justify-content: flex-end;
      position: relative;
      left: 569px;
      bottom: 10px;
      margin-top: 1em;
      padding: 1em 2em;
      color: white;
      background-color: green;
}
.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: white;
}

.form-column {
    flex: 1;
    margin-right: 10px;
    color: white;
}

select {
    display: block;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
}