.container{
    position: relative;

}
.container{
    min-width: 75%;
}
.descricao{
    list-style: none;
    display: flex;
}
.descricao li{
 margin-right: 200px;
 border-bottom: 2px solid black;
 display: inline-block;
 width:100% ;
}
