body {
    background-color: rgb(213, 225, 248);
}
.descricao {
    margin-left: 35px;
    margin-top: 70px;
    margin-bottom: 20px;
    list-style: none;
    display: flex;
    transform: translateY(-6em);
    text-align: center;
}

.descricao li {
    margin-right: 150px;
    border-bottom: 2px solid black;
    border-left: 2px solid;
    display: inline-block;
    width: 100%;
}

.imagem img {
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    width: 1000px;
    height: 700px;
    text-align: center;
    align-items: center;
    display: flex;
}

.carInfo {
    padding: 30px;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    max-width: 100vh;
}

.btn a{
    text-decoration: none;
}

.containerGeral {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding: 50px;
    height: 200px;
    width: 90%;
    border: solid;
    border-radius: 8px;
    background-color: rgb(157, 189, 247);
}

h4 {
    padding: 10px;
}
