body {
    background-color: #e9e9e9;
    font-family: "lucida Sans Unicode ", "Lucida Grande", sans-serif;
    margin: 0 auto;
    width: 1500px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
  }
  

.container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 200vh;
  }
  
  .form-container {
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
	max-width: 400px;
	width: 100%;
  }
  
  .logo-container {
	text-align: center;
  }
  
  .logo-container img {
	max-width: 100%;
	height: auto;
  }
  
  .login-box {
	background-color: #d3d3d3;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
	margin: 0 auto;
	padding: 30px;
	width: 400px;
  }
  