* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-image: url(./img/backgroundLogin.jpg);
	background-size: cover;
	background-position: center;
}

.login {
	background: rgba(0, 0, 0, .5);
	border-radius: 10px;
	width: 500px;
	padding: 40px;
	margin: 0 auto;
	text-align: center;
}

.login h2 {
	margin-bottom: 15px;
	font-size: 15px;
	color: #fff;
	text-align: center;
}

.login .box-user {
	position: relative;
}

.login .box-user input {
	width: 100%;
	padding: 10px 0;
	outline: none;
	border: 0;
	background: transparent;
	border-bottom: 1px solid #fff;
	color: #fff;
	font-size: 15px;
	margin-bottom: 30px;
}

.login .box-user label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	color: #fff;
	font-size: 15px;
	pointer-events: none;
	transition: .5s;
}

.login .box-user input:focus~label,
.login .box-user input:valid~label {
	top: -20px;
	left: 0;
	color: #b3b7f7;
	font-size: 12px;
}

.btn {
	position: relative;
	display: inline-block;
	padding: 12px 20px;
	color: #03e9f4;
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 700;
	margin-top: 20px;
	transition: .5s;
	overflow: hidden;
}

.btn:hover {
	background: #03e9f4;
	border-radius: 5px;
	color: #172031;
}


.login img {
	margin-bottom: 30px;
}

.login .register {
	text-align: center;
}

.login .register p {
	color: #fff;
	margin-top: 10px;
	display: inline-block;
	font-size: 15px;
}

.login .register a {

	color: #fff;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	text-decoration: underline;
} 

.login .register a:hover {
	color: #b3b7f7;
	text-decoration: none;
}



.entrar input[type="submit"] {
	width: 100%;
	border-radius: 5px;
	height: 35px;
	margin-top: 20px;
}

.entrar input[type="submit"]:hover {
	text-decoration: none;
	width: 100%;
	border-radius: 5px;
	height: 35px;
	color: #b3b7f7
}