body {
    background-color: rgb(190, 212, 255);
    margin: 0;
}

.container {
    position: relative;
}

form {
    max-width: 500px;
    max-height: 1000px;
    margin: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}


